body {
    font-family: arial, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    background-color: White;
    background-image: linear-gradient(Grey, White);
    background-repeat:no-repeat;
}

h1, h2, h3 {
    color: #fff;
}

.title {
    font-family: arial, sans-serif;
    font-size: 100px;
    color: White;
    margin: 50px auto;
    width: 100%;
    text-align: center;
    overflow: auto;
}

dd {
    font-style: italic;
}

ul {
    height: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
}

.game {
    padding: 10px;
    box-sizing: border-box;
}

li {
    height: 200px;
}

li.game{
    padding-left:20px;
}

li.game.winner{
    font-weight:bold;
}
li.game span{
    float:right;
    margin-right:5px;
}

li.game-top{
    border-bottom:1px solid #aaa;
    border-bottom-color: white;
}

li.game-spacer{
    border-right:1px solid #aaa;
    min-height:40px;
    border-right-color: white;
}

li.game-bottom{
    border-top:1px solid #aaa;
    border-top: white;
}

.center {
    margin: auto;
    width: 100%;
    text-align: center;
}

.tab {
    overflow: auto;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: DarkGrey;
}

.tab button {
    background-color: Orange;
    float: left;
    border: none;
    border-radius: 15px;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
    overflow-x: auto;
}

.tab .active {
    background-color: White;
}

.tabcontent {
    display: block;
    padding: 6px 12px;
    border: 2px solid #000;
    border-radius: 12px;
    background-color: White;
    border-top: none;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px White;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: White;
}

.flex-container {
    display: flex;
    background-color: White;
    overflow-x: auto;
}

.flex-container > div {
    background-color: White;
    margin: 1%;
    padding: 1%;
    font-size: 30px;
    overflow-x: auto;
}

.flex-container button:hover {
    background-color: black;
}
flex-container button:active{
    background-color: black;
    border-color: black;
}
flex-container button:v{
    background-color: black;
    border-color: black;
}

