body {
    font-family: arial, sans-serif;
    height: 1000px;
    background-color: #cccccc;
    background-image: linear-gradient(Grey, White);
}

h1, h2, h3 {
    color: #fff;
}

.title {
    font-family: arial, sans-serif;
    font-size: 100px;
    color: White;
    margin: 50px auto;
    width: 100%;
    text-align: center;
}

dd {
    font-style: italic;
}

ul {
    list-style-type: none;
}

li {
   height: 200px;
}

.center {
    margin: auto;
    width: 100%;
    text-align: center;
}

.tab {
    overflow: auto;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: DarkGrey;
}

.tab button {
    background-color: Orange;
    float: left;
    border: none;
    border-radius: 15px;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
}

//Create an active/current tablink class
.tab .active {
    background-color: White;
}

.tabcontent {
    display: block;
    padding: 6px 12px;
    border: 2px solid #000;
    border-radius: 12px;
    background-color: White;
    border-top: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px White;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: White;
}

.flex-container {
    display: flex;
    background-color: White;
}

.flex-container > div {
    background-color: White;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container button:hover {
    background-color: black;
}

